<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1>TP1 - Gestion de membre</h1>
	    	<h2>Cours : Programmation et veille technologique</h2>
	    	<h3>Remise : 14 février 2018</h3>
	    	<p>Projet utilisant Node.js, Express et MongoDB pour développer une application Web de gestion de membres</p>
    	</section>
    </main>
</div>	

