
<div class="global couleur-entete">
    <header class='entete'>
        <h1>Projet Veille Node.js</h1>
        <h2>Tim - Collège de Maisonneuve</h2>
        <span><a href="<%= __('langueLien') %>"><%= __('langue') %></a></span>
    </header>
</div>

