/* @couleur-footer;  */
.pied-page {
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.pied-page ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pied-page ul li {
  font-size: 1em;
  list-style-type: none;
}
.pied-page ul li a {
  display: block;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px dotted #d7ca7c;
}
.pied-page ul li a:hover {
  color: #be4509;
}
@media all and (min-width: 500px) {
  .pied-page {
    flex-direction: row;
  }
}
